body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("{{ url_for(header.jpg) }}");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 10px;
}

.slide{
  width: 100%;
  /*height: 500px;*/
}

.news_img{
  width:70%;
}

.anew{
  text-decoration: none;
}

.refimg{
  margin: 10px;
}

/*отступ для названия каждой страницы*/
.tt{
  margin-top: 60px;
}

/*карточка для афиши включает название, фото, текст, все по центру*/
.ac{
  width: 70%;
  margin:40px auto;
}


/*картинка для афиши*/
.aimg{
  width: 80%;
  max-width: 700px;
}

/*Карточка для галереи*/ 
.gc{
  width: 80%;
  margin: 45px auto;
}

.gimg{
  width: 90%;
  max-width: 600px;
}