{% extends 'base.html' %}

{% block title %}
    {{ t }}
{% endblock %}


{% block content %}

<div class="w3-container">
    
    <!--slideshow-->
    <div class="w3-content w3-display-container w3-grayscale-min">
        
        {% for s in slides %}
        <div class="w3-display-container w3-animate-opacity slides">
            <img src="{{ s[0] }}" class="slide">
            <div class="w3-display-{{ s[2] }} w3-padding w3-container w3-blue w3-opacity w3-xlarge">{{ s[1] }}</div>
        </div>
        {% endfor %}
    </div>
    
    <h2 class="w3-center w3-text-blue fmt">{{ t }}</h2> <hr>
    
    <div class="w3-panel w3-xlarge">Последние новости:</div>
    
</div>

<div class="w3-container w3-center">
{% for new in n %}
    <div class="w3-panel w3-bottombar w3-hover-border-blue w3-center">
        <img src="{{ new['img'] }}" class='news_img'>
        <a href="#" class='anew'><h2 class='w3-text-indigo w3-hover-text-blue'>{{new['title']}}</h2></a>
        <p><blockqute class='w3-text-indigo'>{{new['data']}}</blockqute></p>
        <p>{{new['text']}}</p>
        <p><a href="#" class='w3-button w3-blue w3-hover-indigo'>Читать далее...</a></p>
    </div>
{% endfor %}
</div>

{% endblock %}