{% extends 'base.html' %}

{% block title %}
    {{ t }}
{% endblock %}


{% block content %}

<div class="w3-container">
    
    <!--slideshow-->
    <div class="w3-content w3-display-container">
        
        <div class="w3-display-container w3-animate-opacity slides">
            <img src="static/img/header.jpg" class="slide">
            <div class="w3-display-bottomright w3-padding w3-container">Какой то тест</div>
        </div>
        
        <div class="w3-display-container w3-animate-opacity slides">
            <img src="static/img/ind.jpg" class="slide">
            <div class="w3-display-bottomright w3-padding w3-container">Еще текст</div>
        </div>
        
        <div class="w3-display-container w3-animate-opacity slides">
            <img src="static/img/museum.jpg" class="slide">
            <div class="w3-display-bottomright w3-padding w3-container">Другой текст</div>
        </div>
        
    </div>
    
    <h2 class="w3-center fmt">{{ t }}</h2> <hr>
    
    <div class="w3-panel w3-xlarge">Последние новости:</div>
    
</div>

{% endblock %}